* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
#header {
    margin: 44px 0 50px 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    cursor: pointer;
    border: none;
}
.header-menu {
    display: flex;
    gap: 50px;
}
.header-menu a {
    color: #696871;
font-size: 15px;
font-weight: 700;
letter-spacing: -0.469px;
transition: 0.7s;
}
.header-menu a:hover {
    color: #19191B;
font-size: 15px;
font-weight: 700;
letter-spacing: -0.469px;
border-bottom: 3px solid  #5454D4;
transform: scale(1.2);
}
.header-btn button {
    color: #FFF;
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -0.531px;
        width: 211px;
            height: 60px;
            background: #FF7143;
            border-radius: 10px;
                background: #FF7143;
                border: none;
                transition: 0.7s;

}
.header-btn button:hover {
    background: #ff7243b2;
    transform: scale(1.2);

}
#hero {
    margin-top: 160px;
    margin-bottom: 205px;
}
.hero-btn button {
    color: #FFF;
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -0.531px;
        width: 211px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: #5454D4;
border: none;
transition: 0.7s;
}
.hero-btn button:hover {
    transform: scale(1.1);
    background: #5454d4b0;

}
.hero-text p {
color: #696871;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.625px;
    margin: 30px 0 50px 0;
}
.hero-text h1 {
    color: #19191B;
        font-size: 80px;
        font-weight: 700;
        line-height: 77px;
        letter-spacing: -2.501px;
}
.hero-btns {
display: flex;
align-items: center;
gap: 40px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}
.learn-text h1 {
    color: #19191B;
font-size: 50px;
font-weight: 700;
letter-spacing: -1.563px;
}
.learn-text p {
    color: #696871;
font-size: 20px;
font-weight: 400;
line-height: 30px; 
letter-spacing: -0.625px;
margin: 30px 0;
}
.learn-text button {
    color: #5454D4;
font-size: 17px;
font-weight: 700;
letter-spacing: -0.531px;
border: none

;
background: none;
}
.learn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#index {
    margin: 85px 0 150px 0;
}
.metriks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#metriks {
    margin-bottom: 150px;
}
.in h1 {
    color: #19191B;
font-size: 50px;
font-weight: 700;
letter-spacing: -1.563px;

}
.in p {
    color: #696871;
font-size: 20px;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: -0.625px;
margin: 30px 0;
}
.in button {
    color: #5454D4;
font-size: 17px;
font-weight: 700;
letter-spacing: -0.531px;
border: none;
background: none;
}
.see h1 {
    color: #19191B;
font-size: 24px;
font-weight: 700;
letter-spacing: -0.75px;
margin: 15px 0 20px 0;
}
.see p {
    color: #696871;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.5px;
}
.see img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.see {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.audit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#plan {
    margin: 150px 0 85px 0;
}
.get {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.st {
    border-radius: 10px 0px 0px 10px;
background: #5454D4;
width: 160px;
height: 55px;
flex-shrink: 0;
border: none;
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.5px;
}
.btn-get {
    border-radius: 10px;
background: #F7F7FB;
width: 344px;
height: 65px;
border: none;
}
.st:hover {
background: #F7F7FB;
color: black;
}
.sf {
    color: #19191B;
text-align: center;
font-size: 16px;
font-weight: 700;
letter-spacing: -0.5px;
border: none;
padding-left: 40px;
background: none;
}
.get h1 {
    color: #19191B;
font-size: 60px;
font-weight: 700;
line-height: 70px; /* 116.667% */
letter-spacing: -1.876px;
}
.footer-blocks {
    width: 330px;
height: 441px;
flex-shrink: 0;
border-radius: 10px;
background: #F8F8F8;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
transition: 0.7s;
}
.footer-blocks a{
    color: #696871;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: -0.563px;
display: flex;
gap: 20px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
.footer-blocks h1 {
    color: #1D293F;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px; /* 93.333% */
    letter-spacing: -1.034px;
    margin: 22px 0 28px 0;
}
.footer-blocks button{
    color: #5454D4;
text-align: center;
font-size: 17px;
font-weight: 700;
line-height: normal;
letter-spacing: -0.531px;
border: none;
background: none;
display: flex;
justify-content: center;
margin-top: 30px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.footer-blocks:hover {
    border-radius: 10px;
background: #FF7143;
box-shadow: 0px 32px 34px 0px rgba(255, 112, 59, 0.32);
width: 376px;
height: 473px;
transform: scale(1.2);
.a1 {
    color: white;
}
.a2 {
    width: 305px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: #9F3919;
color: #FFF;
text-align: center;
/* font-family: DM Sans; */
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.531px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
}
#footer {
    margin-bottom: 160px;
}


@media (max-width:1440px){
    .container{
        width: 90%;
    }
}
@media (max-width:1200px){
    .container{
        width: 90%;
    }
}
@media (max-width:1024px) {
    .container{
        width: 90%;
    }
.a1a{
    width: 500px;
}
.footer{
    flex-direction: column;
}
}
@media (max-width:992px) {
    .container {
        width: 90%;
    }
    .footer{
        flex-direction: column;
    }
}
@media (max-width:768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .header{
        display: flex;
        gap: 5pc;
        flex-direction: column;
    }
    .hero {
        display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    }
    .a1a{
        margin-top:35px;
    }
    .index {
        display: flex;
        flex-direction: column;
    }
    .more{
        flex-direction: column;
        gap: 30px;
    }
    .learn {
        flex-direction: column;
    }
    .metriks {
        flex-direction: column;
    }
    .audit {
        flex-direction: column;
        gap: 75px;
    }
    .plan {
        flex-direction: column;
    }
    .get h1 {
        margin-bottom: 35px;
    }
    .in button {
        margin-bottom: 40px;
    }
} 
@media (max-width:576px){
    .container {
        width: 90%;
    }
}
@media(max-width:451px) {
    .container {
        width:90%;
        margin: 0 auto
    }
* {
    text-align: center;
}
.hero-text h1 {
    font-size: 43px;
    line-height:70px;
}
.hero-text p {
    font-size: 15px;
    line-height: 30px;
    margin: 30px 0 50px 0;
}
.a1a {
    width: 300px;
}
.you {
    width: 250px;
}
.get h1 {
    font-size: 34px;
    line-height: 49px;
}
.learn-text p {
    font-size: 15px;
    line-height: 24px;
    margin: 18px 0;
}
.learn-text h1 {
    font-size: 35px;
    margin-top: 20px;
}
.pink {
    width: 300px;
}
.in p {
    font-size: 16px;
}
.footer-blocks:hover {
    border-radius: 10px;
    background: #FF7143;
    box-shadow: 0px 32px 34px 0px rgba(255, 112, 59, 0.32);
    width: 262px;
    height: 454px;
    transform: scale(1.2);
}
.footer-blocks {
    width: 276px;
    height: 416px;
}
.a2 {
    width: 221px;
    height: 54px;
}
}
@media (max-width:400px) {
    .container {
        width: 90%;
    }
    .footer-blocks:hover {
        width: 265px;
    height: 421px;
        .a2 {
    width: 180px;
    height: 46px;
    }
    }
    .in h1 {
        font-size: 32;
    }
}

@media (max-width:376px) {
    .container {
        width: 90%;
    }
    .header-menu {
    display: flex;
    gap: 40px;
}
.header-btn button {
    width: 189px;
    height: 54px;
    font-size: 15px;
}
    .hero-btn button {
            width: 174px;
    height: 48px;
    font-size: 15px;
    }
    .in h1 {
            font-size: 30px;

    }
    .in p {
    font-size: 16px;
}
   .a1a {
    width: 200px;
   }
    .you {
        width:  200px ;
    }
    .pink {
        width: 200px;
    }
    .get h1 {
    font-size: 28px;
    line-height: 30px;
}
.st {
        width: 122px;
    height: 44px;
}
.btn-get {
    width: 240px;
    height: 44px;
}
.see p {
        font-size: 14px;
}
.footer-blocks {
    width: 278px;
    height: 380px;
}
.footer-blocks:hover {
    width: 223px;
    height: 342px;
}
   .a2 {
    width: 40px;
    height: 41px;
}
.footer-blocks a {
    line-height: 18px;
    font-size: 16px;
}
.hero-text p {
    font-size: 14px;
}
.hero-text h1 {
    font-size: 36px;
    line-height: 50px;
}
.footer-blocks h1 {
font-size: 30px;
line-height: 4px;
}
}
@media (max-width:320px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    * {
        text-align: center;
       
    }
    .header{
        width: 311px;
        gap: 36px;
    }
    .hero {
        width: 22pc;
    }
    .hero-btns {
        flex-direction: column;
    }
.you {
    width: 180px;
}
.pink {
    width: 180px;
}
.a1a {
    width: 180px;
}
.in p {
    font-size: 15px;
}
.hero-text h1 {
    font-size: 40px;
    line-height: 50px;
}
.more {
    gap: 40px;
}
.see {
    margin: 41px 0 0 63px;
}
.header-btn button {
    width: 156px;
    height: 50px;
}
.learn-text p {
    color: #696871;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.625px;
    margin: 18px 0;
}
.learn-text h1 {
    font-size: 40px;
}
.footer-blocks {
    width: 245px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 0.7s;
}
}


